body {
            font-family: monospace;
           height:100%;
		   overflow-y: scroll;
          }

          /* Remove unnecessary margins/padding */
         html, body {
              margin: 0;
              padding: 0;
			  padding-left:5px;,
         }

		.header{
			
			position:fixed;
			top:0px;
			left:0px;
			width:100%;
			background-color:#eee;
			padding-left:.25em;
		}

		.overlay  {
			position:fixed;
			background-color:#eee;
			width:99%;
			padding:.25em;
			bottom:0px;
			margin-top:0;
				
		}
		.main_content {
		}





    .error {
      color:red;
     }

:root {
  /*font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  */
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  line-height: 1em;
  text-align: left;
  margin-left: 1em;
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color: darkgrey;
  margin-top: 0px;
  font-size:1.5em;
  padding-left:0px;
  margin-left:0px;
}
h2, h3 {
  line-height: 1em;
  text-align: left;
  margin-left: 1em;
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color: darkgrey;
  margin-top: 0px;
  font-size:1.3em;
  padding-left:0px;
  margin-left:0px;
}
h3 {
  font-size:1.0em;
}
input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.25em .25em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

input {

  padding: 0.25em 0.25em;
}

button {
  cursor: pointer;
  color: #b32400;
}

button:hover {
  border-color: #396cd8;
}

input,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
}

.small_button {
  padding: 0 0.25em 0 0.25em;
  font-family: monospace;
}
.hotkey {
  color: #b32400;
  font-weight: bold;
  font-family: monospace;
}

pre,
code {
  overflow: scroll;
  background: #eeeeee;
  border: 1px solid #cccccc;
  border-radius: 5px;
  line-height: 1.25em;
}

pre {
	padding-left:1em;
}

pre .line {
  color: red;
  margin: 0;
  padding: 0;
}
pre .line:first-line {
  color: #000; /* Default color   */
}

pre {
  white-space: pre-wrap;
}

li {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0;
}
li p{
	padding-left:0;

}
li p:first-child{
	margin-top:0;
	margin-bottom:0;
	padding-top:0;
	padding-bottom:0;
}


.copy-button {
  font-size: 1em;
  margin: 0px;
  padding: 0px;

  position: absolute;
  top: 5px;
  right: 5px;
}

.copy-button:active {
  background-color: blue;
}

.hover {
  background: #dfdfdf;
  border: 1px dashed grey;
}

input:focus,
button:focus {
  border: 1px solid green;
}


h1  {
}

p {
	padding-left:1em;
}


#content .paragraph:first-child  {
	margin-top:0px;
}

#content .paragraph:first-child  p{
	padding-top:0px;
	margin-top:0px;

}

pre 
{
	margin-left:1em;
	padding-top:.25em;
	padding-bottom:.25em;
}

pre .hljs {
	padding-top:0;
	padding-bottom:0;
	padding:0 !important;
	background-color:#eeeeee;
	margin:0;
	border:0px;
}

.focused::before {
	content: ">";
	float:left;
    background-color: #f8f8f8;
	margin-top:.28em;
  }


.copy-button {
	display:none;
}
.copy-button:hover {
	display:block;
}

p:hover + .copy-button, pre:hover + .copy-button  {
	display:block;
}

.header, .footer {
	background-color: #eeeeee;
}

.header {
	padding-top:.25em;
	padding-bottom:.25em;
}
.footer {
	padding-top:.25em;
	padding-bottom:.25em;
}


.header h1 {
	font-size:1.5em;
	margin-bottom:.25em;
	margin-top:0;
	padding-top:0
}

  .disabled {
    color: #555;
	pointer-events:none;
  }

.tags {
    display: inline-block;
    margin-left: 5px !important;
    padding: 3px 8px !important;
    border-radius: 10px;
    font-size: .8em;
    font-weight: bold;
    background-color: #3b9cff;
    float: left;
  }

  .tag_0 {
    background-color: #b40812;
    color: #eeeeee;
  }
  .tag_1 {
    background-color: #d6421d;
    color: #202020;
  }
  .tag_2 {
    background-color: #fbc82f;
    color: #202020;
  }
  .tag_3 {
    background-color: #19D921;
    color: #202020;
  }
  .tag_4 {
    background-color: #0c6b71;
    color: #eeeeee;
  }
  .tag_5 {
    background-color: #257ad8;
    color: #EEEEEE;
  }
  .tag_6 {
    background-color: #0a57c8;
    color: #eeeeee;
  }
  .tag_7 {
    background-color: #552be4;
    color: #eeeeee;
  }


  p:focus {
	  font-weight:bold;
  }

